@font-face {
  font-family: "iconfont"; /* Project id 2571909 */
  src: url('iconfont.woff2?t=1622012000678') format('woff2'),
       url('iconfont.woff?t=1622012000678') format('woff'),
       url('iconfont.ttf?t=1622012000678') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before {
  content: "\e65a";
}

.icon-xia:before {
  content: "\e626";
}

.icon-sousuo:before {
  content: "\e617";
}

.icon-you4:before {
  content: "\e618";
}

.icon-zuo:before {
  content: "\e619";
}

.icon-caozuochenggong:before {
  content: "\e610";
}

.icon-dui:before {
  content: "\e625";
}

.icon-icon-test:before {
  content: "\e615";
}

.icon-daifukuan:before {
  content: "\e63f";
}

.icon-yifahuo:before {
  content: "\e708";
}

.icon-wenhao:before {
  content: "\e6ac";
}

.icon-yiwancheng:before {
  content: "\e71f";
}

.icon-yiquxiao:before {
  content: "\e726";
}

.icon-huiyuan:before {
  content: "\e696";
}

.icon-anquanzhuye:before {
  content: "\e64f";
}

.icon-jiaobiaoxuanzhong:before {
  content: "\e6e6";
}

.icon-shijian:before {
  content: "\e606";
}

.icon-cuo:before {
  content: "\e715";
}

.icon-qicheqianlian-:before {
  content: "\e61a";
}

.icon-xiazai:before {
  content: "\e659";
}

